# Firebase Web App Configuration Keys
# Copy this file to .env or .env.local and fill in your actual credentials.

VITE_FIREBASE_API_KEY=your_api_key_here
VITE_FIREBASE_AUTH_DOMAIN=your_project_id.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=your_project_id
VITE_FIREBASE_STORAGE_BUCKET=your_project_id.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=your_messaging_sender_id
VITE_FIREBASE_APP_ID=your_app_id


// Import the functions you need from the SDKs you need
import { initializeApp } from "firebase/app";
// TODO: Add SDKs for Firebase products that you want to use
// https://firebase.google.com/docs/web/setup#available-libraries

// Your web app's Firebase configuration
const firebaseConfig = {
  apiKey: "AIzaSyBlLtl0JakJpDsm_zMbAGsKShfkzlJ4wYw",
  authDomain: "fitness-tracker-d198c.firebaseapp.com",
  projectId: "fitness-tracker-d198c",
  storageBucket: "fitness-tracker-d198c.firebasestorage.app",
  messagingSenderId: "435732619205",
  appId: "1:435732619205:web:df0eca5ad7de9ef33c35ac"
};

// Initialize Firebase
const app = initializeApp(firebaseConfig);